

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.mytext{
  font-family: courier; 
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.navbar {
  overflow: hidden;
  background-color: #333; 
  height: 90px;
  font-family: courier, monospace;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-family: courier, monospace;
}

.subnav {
  float: left;
  overflow: hidden;
  font-family: courier, monospace;
}

.subnav .subnavbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 30px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
  transition: 0.4s;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
  transition: 0.4s;
}

.subnav:hover .subnav-content {
  display: block;
  transition: 0.4s;
}


#table-wrapper {
  position:relative;
}
#table-scroll {
  height:400px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}


#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:5;
  height:20px;
  width:35%;
  border:1px solid red;
  display: block; 
}

table {
  font-family: courier, sans-serif;
  font-size: 10px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  height: 100px;       /* Just for the demo          */
    
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-height: 7px;
  word-wrap: break-word
}

tr:nth-child(even) {
  background-color: #dddddd;
}



ul {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 120px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 4;
       list-style-type: none;
}

li {
  text-align: left;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

a {
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  font-family: "courier";
  padding-top: -40px;
}

.mosaic_image{
  width: 90%;
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  z-index: 1;
  transition: transform .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mosaic_imgage {
  overflow: hidden;
  z-index: 1;
  transition: transform .2s;
}

.mosaic_imgage :hover{
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}

.mosaic_image:hover{
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 

  align-content: center;
}

.shadow-box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  position: relative;
  border-radius: 5px;
  text-align: center;
  color: white;
  overflow: hidden;

}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: "courier";
  font-weight: 700;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-family: "courier";
  font-weight: 700;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-box {
  padding: 20px 20px;
  font-family: courier, monospace;
  margin-right: 25px;
  margin-top: 5px;
  font-size: 15px;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff5555;
}

.div_wrapper{
  width: 80%;
  margin-left: 100px;
  margin-right: 100px;
}