{% include 'base.html' %}

{% block content %}
	{% load static %}
	<div align="center">
	<!--<img src="{% static 'img/field.jpg' alt='image of a field at dusk' %}"/>-->

		{% block project_block %}
		<ul style="padding-bottom: 100px">
			{% for i in '[1,2' %}
			{% for project in projects %}
				<li>
					<div class="mosaic-container">
						<a href="{{project.image.url}}">
							<img class="mosaic_image" src="http://127.0.0.1:8000/{{project.image.url}}" alt='image of a field at dusk' %}/>
						
						<!--<div class="bottom-left">{{project.author.name}}</div>-->
					</div>
					<div>
						<p style="font-size: 30px">{{project.title}}</p>
					</div>
					<div><p style="color: #999">{{project.created_on}}</p>
						 <i class="fas fa-tags"> {{project.category.name}}</i> 
					</div>
					</a>
				</li>
			{% endfor %}
			{% endfor %}
		</ul>
		<hr style="margin-left: 100px; margin-right: 100px">
		<div style="padding-top: 100px"> 
		<img src="{% static 'img/contributions.PNG' %}"/>
		</div>
	</div>
{% endblock %}
{% endblock %}




