{% include "base.html" %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<style>


</style>
<body> 
<div style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;" >
<div style="align-content: center; margin-left: 100px;">
<h2> Predict Company Bankrrupcy </h2>
<p>Author osmaralg</p>
<p>Jan. 30 2020</p>

</div>
<div class="mytext">
<p> 
<font size="6" >
The project data concerns a binary classification problem where you have to predict wether or not a company will go bankrupt, given some financial indicators.
</p>
<p>
The data has 64 numerical features and one binary label
</p>
<strong>
<p> 
1 == bankrupt </p><p>
0 == not bankrupt</p><p></strong>
The dataset presents some typical real-life characteristics such as missing data, weird column names and feature values, correlated features, unbalanced classes, etc.
</p>
<p>
 Data analysis and preparation are part of the project... it's not all about prediction
</p>
data source = https://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data#
https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html 
</p>
</div>
</div>


<pre>
<code style="background-color: #eee">

</pre>
</code>
<div style="padding-bottom:100px; margin-left: 100px; margin-right: 100px">
{% include "machine_code.html" %}
<p class="mytext">
All missing values were filled with the average of the respective predictive
attribute.
</p>
<hr>
<div style="padding-top: 100px; margin-left: 100px; margin-right: 100px">
{% include "machine_corr_table.html" %}
<p class="mytext">
Nothing was done in order to remove correlated attributes because forward
feature selection is used in the modeling phase, a process that favors the
removal of correlated attributes.


</p>
</body>



{% endblock %}
