{% include "base.html" %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<style>


</style>
<body> 
<div style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;" >
<div style="align-content: center; margin-left: 100px;">
<h2> Predict Company Bankrrupcy </h2>
<p>Author osmaralg</p>
<p>Jan. 30 2020</p>

</div>
<div class="mytext">
<p> 

The project data concerns a binary classification problem where you have to predict wether or not a company will go bankrupt, given some financial indicators.
</p>
<p>
The data has 64 numerical features and one binary label
</p>
<strong>
<p> 
1 == bankrupt </p><p>
0 == not bankrupt</p><p></strong>
The dataset presents some typical real-life characteristics such as missing data, weird column names and feature values, correlated features, unbalanced classes, etc.
</p>
<p>
 Data analysis and preparation are part of the project... it's not all about prediction
</p>
data source = 
https://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data#
https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html 
https://towardsdatascience.com/predicting-bankruptcy-f4611afe8d2c
https://www.ii.pwr.edu.pl/~tomczak/PDF/[MZSTJT].pdf

All missing values were filled with the average of the respective predictive
attribute.
</p>
</div>
</div>


<pre>
<code style="background-color: #eee">

</pre>
</code>
<div style="padding-bottom:100px; margin-left: 100px; margin-right: 100px">

<div id="table-wrapper">
  <div id="table-scroll">
	{% include "machine_code.html" %}
	</div>
</div>

<p class="mytext">
Nothing was done in order to remove correlated attributes because forward
feature selection is used in the modeling phase, a process that favors the
removal of correlated attributes.
</p>
<hr>
<div style="padding-top: 100px; margin-left: 100px; margin-right: 100px">
{% include "machine_corr_table.html" %}
</div>
<p class="mytext">

	Based on performance and training time, hypeparameter tunning was done for KNeighbors, Adaboost, and XGboost. 
	The results of the Grid Search Cross Validation are shown in the following tables. 

</p>

<hr>
<p class="mytext">

</p>
<div style="padding-top: 100px; margin-left: 100px; margin-right: 100px">

	<p class="mytext", style="font-size: 15px;"> Kneighbors </p>
	<div id="table-wrapper">
  		<div id="table-scroll">
			{% include "kneighbors.html" %}
		</div>
	</div>
	<p class="mytext", style="font-size: 15px;"> Adaboost </p>
		<p class="mytext", style="font-size: 15px;"> Kneighbors </p>
	<div id="table-wrapper">
  		<div id="table-scroll">
			{% include "adaboost.html" %}
		</div>
	</div>

	<p class="mytext", style="font-size: 15px;"> XGBoost </p>
	{% include "xgboost.html" %}
		<p class="mytext", style="font-size: 15px;"> Kneighbors </p>
	<div id="table-wrapper">
  		<div id="table-scroll">
			{% include "xgboost.html" %}
		</div>
	</div>
</div>
<hr>
Since there is x bankrupted banks and y non-bankrupted the selection criterion was recall. 

XGBoost had the highest recall of x 


</body>



{% endblock %}
